<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Sign in</title>
</head>

<body>
    <main>
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                        <form action="/auth/signin" method="post" class="box">

                            {{#if message }}
                            <div class="message is-warning">
                                <div class="message-header">
                                    <p>{{message}}</p>
                                    <span class="delete" aria-label="delete"></span>
                                </div>
                            </div>
                            {{/if}}

                            <div class="field">
                                <label for="" class="label">Email</label>
                                <div class="control">
                                    <input type="email" placeholder="e.g. bobsmith@gmail.com" class="input" required
                                        name="email">
                                </div>
                            </div>
                            <div class="field">
                                <label for="" class="label">Password</label>
                                <div class="control">
                                    <input type="password" placeholder="*******" class="input" required name="password">
                                </div>
                            </div>

                            <div class="field is-grouped">
                                <p class="control">
                                    <button class="button is-primary" type="submit">
                                        Login
                                    </button>
                                </p>
                                <p class="control">
                                    <a class="button is-light" href="/auth/signup">
                                        Signup
                                    </a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>